body{
	font-size: 10px;
}
.main{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #6e6e6e;
	color: white;
	font-family: sans-serif;
}
.circle{
	list-style-type: circle;
	}
.square{
	list-style-type: square;
	}
ol{
	width: 650px;
	color: #a1e3c3;
	background-color: #525252;
}
h2{
	font-family: 'Bebas', arial;
	font-size: 5em;
	text-align: center;
	color: orange;
	text-decoration: underline;
}
img{
	width: 290px;
}
img:first-of-type{
	margin-left: 10px;
}
h3, h4 {
	font-variant: small-caps;
	background-image: url("https://zastavok.net/main/textures/1477075695.jpg");
}
h3{
	font-size: 2.4em;
}
h4{
	font-size: 2em;
}
table{
	font-size: 300%;
	border: 1px solid black;
}
.uppercase{
	text-transform: uppercase;
}
dl{
	background-image: url("https://thumbs.dreamstime.com/b/%D1%82%D0%B5%D0%BA%D1%81%D1%82%D1%83%D1%80%D0%B0-%D1%82%D0%BA%D0%B0%D0%BD%D0%B8-%D0%BC%D0%B5%D1%88%D0%BA%D0%BE%D0%B2%D0%B8%D0%BD%D1%8B-65415510.jpg");
}
